<%- include("./partials/header.ejs") %>

    <h1>About Page</h1>
    <!-- table of students -->
    <h1>
        <%= students%>
    </h1>

    <!-- craeting a table -->

    <div class="container-fluid">
        <div class="container">

            <table class="table">
                <tr class="table-dark">
                    <th>Roll</th>
                    <th>Name</th>
                    <th>Subjects</th>
                    <th>Marks</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>

                <!-- we will itrate this row till all object are displayed ! -->
                <% for(let student of students) { %>
                    <tr>
                        <th><%= student.roll %></th>
                        <th><%= student.name %></th>
                        <th><%= student.subjects %></th>
                        <th><%= student.marks %></th>
                        <th><%= student.city %></th>
                        <th><button class="btn btn-danger">Delete</button></th>
                    </tr>
                <% } %>

            </table>

        </div>
    </div>

    <%- include("./partials/footer.ejs") %>