<%- include("./partials/header.ejs") %>

    <span class="data">
        <%= data %>
    </span>
    <!-- <%= data %> -->
    <% let a=1000; console.log("this is a "+ a) %>
    <% let i = 0 %>
    <% while(i <= 100) { %>
    <h1><%= i %></h1>
    <% i++ %>
    <% } %>

    <h1>This is Some First File</h1>


    <img src=" ./img.jpg" alt="">

        <script src="./script.js"></script>


<%- include("./partials/footer.ejs") %>